<!DOCTYPE html>
<html>

<head>
    <title>MergeBom Web</title>
    <style>
        table,
        td {
            border: 0.5px solid black;
        }
    </style>
</head>

<body>
    <div id="message">
        <p id="error"></p>
    </div>
    <div id="content">
        <h1>MergeBom Web</h1>
        <p id="error"></p>
        <div>
            <ul id="merge_keys">
                {% for key in merge_key_list %}
                <li>
                    <input type="checkbox" name="{{key}}" value="{{key}}">
                    <label for="{{key}}">{{loop.index}}:{{key}}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <form onsubmit="itemListView(event)">
            <label for="mergedFileName">Merged file name:</label>
            <input type="text" id="mergedFileName" name="merged_bom.xlsx">
            <input type="submit" value="merge" />
        </form>
        <br>
        <form enctype="multipart/form-data" onsubmit="uploadBomFile(event)">
            <input id="BOMfile" type="file" name="static_file" />
            <input type="submit" value="upload" />
        </form>
    </div>
    <br><br>
    <div>
        <table>
            <tr>
                <th>Uploaded BOM files</th>
                <th>Merged BOM files</th>
            </tr>
            <tr>
                <td>
                    <ul id="bomlist">
                        {% for item in uploaded_bom_list %}
                        <li>
                            <input type="checkbox" name="{{item}}" value="{{item}}"><label
                                for="{{item}}">{{loop.index}}:{{item}}</label>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul id="mergedbomlist">
                        {% for item in merged_bom_list %}
                        <li>
                            <a href="/{{merge_dir}}/{{item}}" download="{{item}}">{{loop.index}}:{{item}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <hr>
    <br>
    <div>
        <table id="dataList">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <br>
    <div id="footer">
        &copy; Copyright 2022 asterix24@gmail.com
    </div>
    <script>

        async function itemListView(event) {
            event.preventDefault();

            var bf = { "merge_files": [], "merge_file_name": document.getElementById("mergedFileName").value, "merge_keys": [] };

            var ul = document.getElementById("bomlist");
            var items = ul.getElementsByTagName("li");
            Object.entries(items).forEach(([idx, value]) => {
                if (value.getElementsByTagName("input")[0].checked) {
                    console.log(value.getElementsByTagName("input")[0].value);
                    bf["merge_files"].push(value.getElementsByTagName("input")[0].value);
                }
            });

            var ul = document.getElementById("merge_keys");
            var items = ul.getElementsByTagName("li");
            Object.entries(items).forEach(([idx, value]) => {
                if (value.getElementsByTagName("input")[0].checked) {
                    console.log(value.getElementsByTagName("input")[0].value);
                    bf["merge_keys"].push(value.getElementsByTagName("input")[0].value);
                }
            });


            console.log(bf);
            const response = await fetch("/view", {
                method: 'POST',
                body: JSON.stringify(bf),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            });
            response.json().then(data => {
                console.log(data);
                var tableRef = document.getElementById('dataList')
                var theadRef = tableRef.getElementsByTagName('thead')[0];
                var newRow = theadRef.insertRow();
                Object.entries(data.headers).forEach(([idx, value]) => {
                    var headerCell = document.createElement("th");
                    headerCell.innerHTML = value;
                    newRow.appendChild(headerCell);
                });
                var tbodyRef = tableRef.getElementsByTagName('tbody')[0];
                var prev_category = "";
                Object.entries(data.rows).forEach(([idx, value]) => {
                    if (prev_category !== value.category) {
                        var newRow = tbodyRef.insertRow();
                        var newCell = newRow.insertCell();
                        newCell.innerHTML = value.category;
                        newCell.colSpan = value.fields.length + 1;
                        newCell.scope = "colgroup"
                        prev_category = value.category;
                    }
                    var newRow = tbodyRef.insertRow();
                    for (let i = 0; i < value.fields.length; i++) {
                        var newCell = newRow.insertCell();
                        newCell.innerHTML = value.fields[i];
                    }
                });
            });
            mergedBomFile();
        }
        async function mergedBomFile() {
            const response = await fetch("/jobs", {
                method: 'POST',
                body: JSON.stringify({ "merge_files": [] }),
            });
            response.json().then(data => {
                console.log(data);
                if (data.error) {
                    document.getElementById('error').innerHTML = data.error;
                } else {
                    document.getElementById('error').innerHTML = "";
                    l = document.getElementById("mergedbomlist");
                    l.innerHTML = "";
                    Object.entries(data.merged_files).forEach(([key, value]) => {
                        if (value !== "") {
                            let li = document.createElement("li");
                            li.innerHTML = "<a href=\"/{{merge_dir}}/" + value + " \"download=\"" + value + "\">" + key + ": " + value + "</a>";
                            l.appendChild(li);
                        }
                    });
                }
            });
        }
        async function uploadBomFile(event) {
            event.preventDefault();
            let formData = new FormData(event.target);
            var fileupload = document.getElementById('BOMfile');
            formData.append("file", fileupload.files[0]);
            console.log(formData);
            const response = await fetch("/upload", {
                method: 'POST',
                body: formData
            });
            response.json().then(data => {
                console.log(data);
                if (data.error) {
                    document.getElementById('error').innerHTML = data.error;
                } else {
                    document.getElementById('error').innerHTML = "";
                    l = document.getElementById("bomlist");
                    l.innerHTML = "";
                    Object.entries(data.uploaded_files).forEach(([key, value]) => {
                        if (value !== "") {
                            let li = document.createElement("li");
                            var ele = "<input type=\"checkbox\" name=\"" + value + "\" value=\"" + value + "\"><label for=\"" + value + "\">" + key + ": " + value + "</label>";
                            li.innerHTML = ele;
                            li.value = value;
                            l.appendChild(li);
                        }
                    });
                }
            });
        }
    </script>
</body>

</html>